.svg-container { 
	display: inline-block;
    padding-bottom: 200%; 
	vertical-align: middle; 
	overflow: hidden; 
}

@media screen and (min-width: 575px) {

.svg-container { 
	
    padding-bottom: 66.67%; 
    }
}


.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    background-color: antiquewhite
}


.paddingbox{
    background-color: aliceblue;    
}

#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;

        }


@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mandali&display=swap');

body {
    font-family: 'Asap', sans-serif;
    padding-top: 55px;
}