@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mandali&display=swap');

body {
    font-family: 'Asap', sans-serif;
    padding-top: 56px;
}

.container-fluid { 
	overflow: hidden; 
    margin:0;
padding:0;
}

.svg-container { 
    width:100%;
	display: inline-block;
    height: 222%; 
	vertical-align: middle; 
	overflow: hidden; 
}


.svg-content { 
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
    background-color: ghostwhite;
}


.paddingbox{
        width:100%;
    background-color: relative; 
    padding-bottom: 100%; 
    padding: 0

}


#map { 
      width:100%;
      position: relative;
      padding-bottom: 100%; 
     }


.tablebox{
    width: 100%;
    padding-bottom: 0%; 
}

.tablediv{
    width: 100%;
    position: relative;
    padding-bottom: 100%; 
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: ghostwhite;

}


@media screen and (min-width: 635px) {

.svg-container {  height: max(55.55%, calc(100vh - 56px)); 
                  width: max(calc(45vh - 25.2px), 25%)
               }
    
    
.paddingbox{
    background-color: floralwhite; 
      width: max(300px, 50%);
    height: calc(100vh - 56px);
    padding-bottom: 0px;
}
    
#map { 
      position: fixed;
      top: 56;
      padding-bottom: calc(100vh - 56px);
      width: max(300px, 75%);
     }


}


@media screen and (min-width: 1238px) {
    
    #map { 
      position: fixed;
      top: 56;
      padding-bottom: calc(100vh - 56px);
      width: 50%;
     }
    
  .svg-container {  height: max(55.55%, calc(100vh - 56px)); 
                  width: max(calc(45vh - 25.2px), 25%)
               }  
    
  .tablebox{
   width: min(calc( 50% - 45vh + 25px), 25%);
   height: calc(100vh - 56px);
   }  
    
.tablediv{
    position: relative;
    width: 100%;
    top: 56;
    font-size: 12px;
 }
    

    
}






#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;

        }




.countynames{
     font-family: 'Asap', sans-serif;
     font-size: 48px;
     text-anchor: middle;
     dominant-baseline: middle ;
    
}


.tractnames{
     font-family: 'Asap', sans-serif;
     font-size: 40px;
     text-anchor: end;
     dominant-baseline: middle;
    
}


.countylines {
  fill: none;
  stroke: black;
  stroke-width: 2px;

}

.dimensions{
         font-family: 'Asap', sans-serif;
     font-size: 40px;
    
    
}

.leaflet-zoom-animated{
    pointer-events:visible; 
}

.rowtitles{
    font-weight: bold;
    
}

#tableheader{
    position:relative;
    text-align: center;
    
      
}

#tableheader h1{
   font-size: 20px;
    
}

#tableheader h3{
   font-size: 15px;
   
    
}


.tablecontent{
    position:relative;
        padding-right: 10px;

      
}


.table td, .table th {
    padding: .5em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.variables {
    padding-left: 0px;
    padding-right: 20px;
    font-size: 13px;

    
}

 h3{
    text-align: center;
    font-size: 20px;
    
}
