.svg-container { 
	display: inline-block;
    padding-bottom: 222%; 
	vertical-align: middle; 
	overflow: hidden; 
}


.container-fluid { 

	overflow: hidden; 
}


#map { 
      position: relative;
      padding-bottom: 100%; 
     }

.paddingbox{
    background-color: relative; 
    padding-bottom: 100%; 
    padding: 0

}



@media screen and (min-width: 574px) {

.svg-container {  padding-bottom: 55.55%; 
                min-height: 311px;
                min-width: 686;}
    

    
#map { 
      position: fixed;
      top: 56;
      padding-bottom: min(calc(100vh - 56px), 55.55% );
    
     }

.paddingbox{
    background-color: floralwhite; 
      padding-bottom: min(calc(100vh - 56px), 55.55% );


}

}




.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    background-color: ghostwhite;
}




#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;

        }


@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mandali&display=swap');

body {
    font-family: 'Asap', sans-serif;
    padding-top: 55px;
}

.countynames{
     font-family: 'Asap', sans-serif;
     font-size: 48px;
     text-anchor: middle;
     dominant-baseline: middle ;
    
}


.tractnames{
     font-family: 'Asap', sans-serif;
     font-size: 40px;
     text-anchor: end;
     dominant-baseline: middle;
    
}


.countylines {
  fill: none;
  stroke: black;
  stroke-width: 2px;

}

.dimensions{
         font-family: 'Asap', sans-serif;
     font-size: 40px;
    
    
}

.leaflet-zoom-animated{
    pointer-events:visible;
    
}


